{{ extend './layout/main.html'}} {{block 'content'}}

<style type="text/css">
  #pwd-level {
    margin-top: -15px;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
  }
  #pwd-level div {
    height: 5px;
    width: 50px;
    margin-left: 5px;
    border-radius: 20px;
    display: inline-block;
  }

  #pwd-level span {
    display: block;
  }
</style>

<link href="/public/css/register.css" rel="stylesheet" type="text/css" />
<script type="text/javascript"></script>
<div class="aw-register-box">
  <div class="mod-head">
    <a href="/"></a>
    <h1>注册新用户</h1>
  </div>
  <div class="mod-body">
    <form action="" class="aw-register-form" method="post" id="register_form">
      <ul>
        <li class="alert alert-danger hide error_message text-left">
          <i class="icon icon-delete"></i> <em></em>
        </li>
        <li>
          <input
            class="aw-register-name form-control"
            type="text"
            name="username"
            placeholder="用户名"
            value=""
            id="username"
          /><span class="span"></span>
        </li>
        <li>
          <input
            class="aw-register-email form-control"
            type="email"
            placeholder="邮箱"
            name="email"
            value=""
          />
        </li>
        <li>
          <input
            class="aw-register-pwd form-control"
            type="password"
            name="password"
            id="password"
            placeholder="密码"
          />
        </li>
        <div id="pwd-level">
          <span>密码强度:</span>
          <div></div>
          <div></div>
          <div></div>
        </div>
        <li class="aw-register-verify">
          <img
            class="pull-right"
            width="120"
            src="/user/get-pic"
            onclick="this.src='/user/get-pic?'+Date.now()"
          />
          <input
            type="text"
            class="form-control"
            name="v_code"
            placeholder="验证码"
          />
        </li>
        <li class="last">
          <label>
            <input type="checkbox" value="agree" />
            我同意</label
          >
          <a href="javascript:;" class="aw-agreement-btn">用户协议</a>
          <a href="/user/login" class="pull-right">已有账号?</a>
          <div class="aw-regiter-agreement hide">
            <div
              class="aw-register-agreement-txt"
              id="register_agreement"
            ></div>
          </div>
        </li>
        <li class="clearfix">
          <button type="submit" class="btn btn-large btn-blue btn-block">
            注册
          </button>
        </li>
      </ul>
    </form>
  </div>
</div>
<script>
  $(function () {
    //闭包：内部函数对外部函数变量的使用，这个是闭包的典型应用，优点：避免的全局变量
    var checkUsername = (function () {
      var paevUsername;
      return function (e) {
        var span = $(".span");
        //获取输入框的值
        var username = $(this).val();
        //判断上一次请求的数据是否完全一致
        if (paevUsername === username) {
          // console.log(paevUsername === username);
          return;
        }
        //调用接口查询用户名是否存在
        $.ajax({
          url: "/user/check-username",
          type: "post",
          dataType: "json",
          data: "username=" + username,
          success: function (data) {
            //保存提交的username，避免重复提交同一个数值
            paevUsername = username;
            // console.log(paevUsername);
            //根据接口返回值进行判断处理
            if (data.code === "001") {
              span.html(data.msg);
            } else {
              span.html(data.msg);
            }
          },
        });
      };
    })();
    //绑定失去焦点事件
    $("#username").on("blur", checkUsername);

    //验证密码强度
    function checkPwdLevel(pwd) {
      var tmplevel = 0;
      //三次判断
      var reg1 = /\d/; //数字
      var reg2 = /[a-zA-Z]/; //字母
      var reg3 = /\W/; //特殊字符
      if (reg1.test(pwd)) tmplevel++;
      if (reg2.test(pwd)) tmplevel++;
      if (reg3.test(pwd)) tmplevel++;
      return tmplevel;
    }
    //keyup键盘事件，判断密码强度，给div赋值
    $("#password").on("keyup", function () {
      //保存输入值
      var pwd = $(this).val();
      //判断密码强度
      var level = checkPwdLevel(pwd);
      // console.log(level);
      //获取密码强度的三个div
      var divs = $("#pwd-level div");

      //初始化密码强度
      for (var i = 0; i < divs.length; i++) {
        divs[i].style.backgroundColor = "";
      }
      switch (level) {
        case 1:
          for (var i = 0; i < level; i++) {
            divs[i].style.backgroundColor = "red";
          }
          break;
        case 2:
          for (var i = 0; i < level; i++) {
            divs[i].style.backgroundColor = "yellow";
          }
          break;
        default:
          for (var i = 0; i < level; i++) {
            divs[i].style.backgroundColor = "green";
          }
          break;
      }
    });
    //注册提交数据
    $("#register_form").on("submit", function (e) {
      //阻止默认提交事件
      e.preventDefault();
      //获取表单提交数据
      var formData = $(this).serialize(); //username=xxx&email=xxxx input必须有name属性 以键值对的形式
      $.ajax({
        url: "/user/do_register",
        data: formData,
        type: "post",
        dataType: "json",
        success: function (data) {
          if (data.code === "001") {
            //注册成功，是否登录
            if (confirm("注册成功，是否去登录？")) {
              window.location = "/user/login";
            }
          } else {
            alert("注册失败:" + data.msg);
          }
        },
      });
    });
  });
</script>
{{/block}}
